<app-web-page>
  <app-web-page-header>
    <app-web-page-title>
      Most recent Codex
    </app-web-page-title>
    <app-web-page-subtitle>
      Search :
      <mat-form-field>
        <mat-icon matSuffix>search</mat-icon>
        <input [formControl]="codexSearchControl"
               autocomplete="off"
               formControlName="title"
               matInput
               maxlength="256"
               type="search">
      </mat-form-field>
    </app-web-page-subtitle>
    <app-web-page-action-menu>
      <a color="primary" mat-stroked-button routerLink="/codex/add">
        New Codex
        <mat-icon>add</mat-icon>
      </a>
    </app-web-page-action-menu>
  </app-web-page-header>
  <app-web-page-content *ngIf="filteredCodexList">
    <h1 *ngIf="filteredCodexList.length === 0" i18n>No Codex found</h1>
    <div *ngFor="let codex of filteredCodexList" class="codex">
      <a [routerLink]="['/codex/details', codex.slug]" class="codex__link" matRipple>
        <div class="codex__title title">
          {{ codex.title | titlecase }}
        </div>
        <div [ngStyle]="{'border-color':getCodexColor(codex)}" class="codex__date">
          {{ codex.nestedUpdateDate | date: 'd LLL y' }}
          <mat-chip-list>
            <mat-chip [color]="codex.todoTasks > 0 ? 'primary' : 'accent'" selected>{{codex.todoTasks}}</mat-chip>
          </mat-chip-list>
        </div>
      </a>
    </div>
  </app-web-page-content>
</app-web-page>
