mat-form-field {
  margin: -0.4em 0 -1em 0.2em;

  mat-icon {
    margin-right: 0.1em;
    vertical-align: bottom;
  }

  input {
    padding-left: 0.1em;
    color: black;
  }
}

app-web-page-content {
  ::ng-deep .main-section__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  h1 {
    margin: 1em;
  }
}

.codex {

  .codex__title {
    font-size: 1.4em;
    line-height: 1.3em;
    overflow: hidden;
    flex: 1 1 auto;
    padding: 0.5em 0.5em 0 0.5em;
  }

  .codex__date {
    font-size: 0.9em;
    padding: 0.3em 0.5em 0.4em 0;
    text-align: right;
    border-top: 2px solid;
    border-left: 1px solid;
    border-top-left-radius: 28px;
    background: white;

    .mat-chip-list {
      display: inline-block;
      margin-top: -0.3em;
      margin-left: 0.2em;
      vertical-align: middle;
    }

    .mat-standard-chip {
      min-height: 18px;
      padding: 0 7px;
    }
  }

  .codex__link {
    display: flex;
    flex-direction: column;
    width: 10em;
    height: 9em;
    margin: 0.5em;
    transition: background-color 100ms ease;
    border-radius: 4px;
    background-color: #f6f8fa;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: black;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #4d7385;
    }

    &:hover .codex__title {
      color: white;
    }
  }
}



