<app-nav-codex-detail [codexSlug]="codexSlug"></app-nav-codex-detail>
<header class="header__main header__background">
  <div class="header__size">
    <div class="header__headline-container">
      <h1 i18n>Task to do</h1>
    </div>
  </div>
  <div class="line"></div>
</header>
<section class="main-section">
  <div class="main-section--container">
    <section class="simple-card simple-card--single-header">
      <header>
        <h2 i18n>Still {{ (taskList$ | async).length }} to go !</h2>
        <div class="header__image"></div>
      </header>
      <section class="task-list simple-list">
        <ng-container *ngFor="let task of (taskList$ | async)">
          <app-task-details [enableEdit]="false" [task]="task"></app-task-details>
        </ng-container>
        <div class="simple-list__separator"></div>
      </section>
    </section>

  </div>
</section>
