{% extends "rs_back_end/_navigation_codex.html" %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/information.css' %}"/>
{% endblock %}

{% block title %}{% trans 'General informations' %}{% endblock %}

{% block nav__information %}menu__current-active{% endblock %}

{% block header-size %}header__size--small{% endblock %}
{% block header %}
  <h1>{% trans 'General informations - ' %}{{ codex.title|title }}</h1>
  <h4>{{ codex.description }}</h4>
  <div class="project-info">
    <input type="hidden" id="slug" value="{{ codex.slug }}"/>
    {% csrf_token %}
  </div>
{% endblock %}

{% block section-class %}body-small{% endblock %}
{% block content %}
  <section class="information simple-card simple-card--single-header">
    <header>
      {% if information != None %}
        <h2>{{ information.update_date|date:"j F Y" }}</h2>
        <div class="header__image"></div>
      {% endif %}
    </header>
    <article>
      {{ form.text }}
      {{ form.hash }}
      {{ form.id }}
    </article>
  </section>
{% endblock %}

{% block script %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/autosize.min.js' %}"></script>
  <script src="{% static 'js/jquery.typewatch.min.js' %}"></script>
  <script src="{% static 'js/ajaxq.js' %}"></script>
  <script src="{% static 'js/basic.js' %}"></script>
  <script src="{% static "js/hash.js" %}"></script>
  <script src="{% static 'js/information.js' %}"></script>
{% endblock %}
