{% extends codex|yesno:"rs_back_end/_navigation_codex.html,rs_back_end/_navigation_home.html" %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static "css/task_todo_list.css" %}"/>
{% endblock %}

{% block title %}{% trans "Tasks" %}{% endblock %}

{% block nav__task %}current{% endblock %}
{% block nav__task-todo-list %}menu__current-active{% endblock %}

{% block header-size %}header__size--small{% endblock %}
{% block header %}
  <h1>{% trans "To achieve Tasks" %}</h1>
  <h4></h4>
  {% csrf_token %}
{% endblock %}

{% block section-class %}body-small{% endblock %}
{% block content %}
  <section class="simple-card simple-card--single-header">
    <header>
      <h2>{% blocktrans with count=task_list|length %}Still {{ count }} to go !{% endblocktrans %}</h2>
      <div class="header__image"></div>
    </header>
    <section class="task-list simple-list">
      {% for task in task_list reversed %}
        <article class="task simple-list__row">
          {{ task.id }}
          {{ task.hash }}
          <pre class="simple-list__text task__text disabled-textarea">{{ task.text.value|capfirst }}</pre>
          <div class="simple-list__right-icon">
            {% include "rs_back_end/_checkbox.html" with input_class="task__is-achieved" input_name="is_achieved" input_id_name="task_checkbox_" input_id_counter=task.id.value input_is_checked=task.is_achieved.value only %}
          </div>
        </article>
        <div class="simple-list__separator"></div>
      {% endfor %}
    </section>
  </section>
{% endblock %}

{% block script %}
  <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "js/autosize.min.js" %}"></script>
  <script src="{% static "js/jquery.typewatch.min.js" %}"></script>
  <script src="{% static 'js/ajaxq.js' %}"></script>
  <script src="{% static "js/basic.js" %}"></script>
  <script src="{% static "js/hash.js" %}"></script>
  <script src="{% static "js/task.js" %}"></script>
  <script src="{% static "js/task_todo_list.js" %}"></script>
{% endblock %}
