{% extends "rs_back_end/_navigation_home.html" %}
{% load static %}
{% load i18n %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/text_editor.css' %}"/>
{% endblock %}

{% block title %}{% trans 'Text editor Demo' %}{% endblock %}

{% block nav-text_editor %}current{% endblock %}

{% block header %}
  <h1>{% trans 'Text editor Demo' %}</h1>
  <h4>
    <div class="title">{% trans 'Demo of the rescodex text editor :' %}</div>
  </h4>
{% endblock %}

{% block content %}
  <section>
    <input id="slug" type="hidden" value="{{ codex.slug }}">
    <div class="text-editor" contenteditable="true">
      <div>Du text pour tester</div>
      <div>Et encore du text</div>
      <div><br></div>
      <div>Et une tache pour try</div>
      <div><br></div>
      <div class="task task-1"><input type="hidden" class="task_id" value="388">une tsuperache pour try super<br>
      </div>
    </div>
    <br>
    <br>
    <form action='' method='post'>
      {% csrf_token %}
      <input type='submit' value='{% trans 'Reset' %}'/>
    </form>
  </section>
{% endblock %}

{% block script %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.typewatch.min.js' %}"></script>
  <script src="{% static 'js/basic.js' %}"></script>
  <script src="{% static 'js/task.js' %}"></script>
  <script src="{% static 'js/text_editor.js' %}"></script>
{% endblock %}
