/* ----------------------------- */
/* ==reset                       */
/* ----------------------------- */

body {
	background-color: white;
	color: #000;
	font-family: arial, helvetica,  sans-serif;
	font-size: 1em; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
  padding-right: 1em; 
  padding-left: 1em; 
  margin: 0;
}

p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
tbody,
table,
label,
textarea,
caption,
details, 
figure, 
hgroup {
	font-size: 1em;
	line-height: 1.5;
	margin: 0.5em 0 0;
    padding: 0 0;
}
h1, .h1-like {
  font-size: 1.5em;
	font-weight: normal;
	line-height: 1.3em;
	margin: .4em 0 0 0;
}
h2, .h2-like {
	font-size: 1.1em;
	font-weight: normal;
	line-height: 1.15em;
	margin: .4em 0 0 0;
}
h3, .h3-like {
	font-size: 1.5714em; /* equiv 22px */
	font-weight: normal;
	line-height: 1.909em;
	margin: .9545em 0 0 0;
}
h4, .h4-like {
	font-size: 1.1em;
	font-weight: normal;
	line-height: 1.15em;
	margin: .4em 0 0 0;
}
h5, .h5-like {
	font-size: 1.2857em; /* equiv 18px */
	font-weight: normal;
	line-height: 1.1667em;
	margin:  1.1667em 0 0 0;
}
h6, .h6-like {
	font-size: 1.1429em; /* equiv 16px */
	font-weight: normal;
	line-height: 1.3125em;
	margin:  1.3125em 0 0 0;
}

/* alternate font-sizing */
.smaller {
	font-size: .7143em; /* equiv 10px */
	line-height: 2.1em;
}
.small {
	font-size: .8571em; /* equiv 12px */
	line-height: 1.75em;
}
.big {
	font-size: 1.1429em; /* equiv 16px */
	line-height: 1.3125em;
}
.bigger {
	font-size: 1.2857em; /* equiv 18px */
	line-height: 1.1667em;
}
.biggest {
	font-size: 1.4286em; /* equiv 20px */
	line-height: 1.05em;
}

/* soft reset */
html,
textarea,
figure,
label {
	margin: 0;
	padding: 0;
}

ul,
ol {
	padding-left: 2em;
}
code, 
pre,
samp {
	white-space: pre-wrap;
	font-family: consolas, 'DejaVu Sans Mono', courier, monospace;
}
code { line-height: 1em; }
table { margin:0;border-collapse:collapse;}

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
	margin-top: 0;
	margin-bottom: 0;
}

/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
	max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

/* pictures */
img {
	width: auto;
	height: auto;
	vertical-align: middle;
}
a img { border: 0; }

/* scripts */
body > script {display: none !important;}

/* ----------------------------- */
/* Baseline design               */
/* ----------------------------- */

/* global page display */
html {
  min-height: 100%;
  display: flex; 
  flex-direction: column;
}
body {
  flex: 1;
  display: flex;  
  flex-direction: column;
}
section, article, header {
  display: flex;
  flex-direction: column; 
  flex-wrap: nowrap;
}
body > section, body > header{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1024px;
}

/* footer */
.footer-filler { flex:1; }
body > footer { 
  text-align: center; 
  padding-top: .4em;
  padding-bottom: .4em;
}

/* section */
body > section > * { 
  margin-right: .4em;
  margin-left: .4em;
  margin-top: .4em;
}
body > section > *:last-child { margin-bottom: .4em; }

/* header */
body > header { margin-top: .8em; }
header { margin-bottom: .4em; }
h1 { color: #2F4752; } 
h4 {
  padding-bottom: .4em;
  margin-bottom: .5em;
  border-bottom: 1px solid #2F4752; 
}

/* textarea */
textarea {
  padding: 0.5em;
  box-shadow: 0 .1em .2em 0 rgba(0,0,0,.16),0 .1em .5em 0 rgba(0,0,0,.12);
  border: none;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: .8em;
 	font-family: sans-serif, arial, helvetica;           
}

/* save-info */
.save-info {
  line-height: 1.15em;  
  margin-left: .4em;
  margin-top:auto; 
  margin-bottom:auto;  
  white-space: nowrap;
}

/* ligne */
section .ligne {
  width:100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.8em;
  border-top: 1px solid #2F4752;
  border-bottom: 1px solid #79B5D1;
}
