/* today-page */
.today-page .page-tasks { margin-top: .4em; }

/* old-pages */
/*.old-pages > * { margin: 0; }*/
.old-pages .codex-page > section { flex:1; }
.old-pages .codex-page:not(.disp-column) { flex-direction: row; }
.old-pages .codex-page { margin-top: 1.4em; }
.old-pages .codex-page:not(.disp-column) .page-entry { margin-right: .8em; }

/* articles */
.task { flex-direction: row; }
.task-list .task { margin-top: .8em; }
.old-pages .task:first-child { margin: 0; }

/* edit pen */
.edit-pen {
  font-size: 1.5em;
  line-height: 0.66;
  margin-left: .3em;
}
.edit-pen:hover {
 color: #79B5D1;
}


/* display div */
.disp-todo_entree_checkbox,
.disp-todo_entree_texte,
.disp-journal_entree_texte,
.disp-add-item-button
{
  display : flex;
}

/* display todo_entree_texte */
.disp-todo_entree_texte { flex: 1; }
/* display todo_entre_checkbox */
.disp-journal_entree_texte { flex: 1; }

/* display todo_entree_checkbox */
.disp-todo_entree_checkbox { margin-right: .4em; }
/* display add-item-button */
.disp-add-item-button { margin-right: .4em; }

/* header */
.codex-page header { flex-direction: row; }
.codex-page h2 { white-space: nowrap; }

/* add button */
.add-item-button {
  font-size: 1em;
  width: 21px;
  max-width: 21px;
  height: auto;
  margin: auto;
  margin-left: .2em;
  margin-right: .2em;
}
.todo_entree_checkbox { box-shadow: none; }


/* Partie pour mobile*/
@media only screen and (max-width: 480px) {
  .old-pages .codex-page { flex-direction: column; }
  .old-pages .codex-page .page-entry { margin-right: 0em; }
  .old-pages .codex-page .page-tasks { margin-top: .4em; }
}