/* Page */
.page {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}

.page--task-only,
.page--today {
  flex-direction: column;
}

.page header {
  flex-direction: row;
}

.page h2 {
  white-space: nowrap;
}

.page__note-section,
.page__task-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 256px;
  margin: .3em;
}

/* Note */
.note {
  flex: 1;
  display: flex;
  margin: .3em
}

.note__text {
  flex: 1;
  border: none;
  resize: none;
  margin: 0;
  padding: .2em .2em .2em .5em;
  font-size: 1em;
  font-family: arial, serif;
  overflow: hidden;
}

/* Task list */
.task-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Task */
.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: .5em
}

.task__is-achieved {
  font-size: 1em;
  margin: .5em;
}

.task__connexion-line {
  width: .5em;
  border: 1px solid rgba(0, 0, 0, .13);
}

.task__add-item-button {
  font-size: 1em;
  width: 21px;
  height: 21px;
  padding: .5em;
}

.task__text {
  flex: 1;
  border: none;
  resize: none;
  margin: 0;
  padding: .2em .2em .2em .4em;
  font-size: 1em;
  font-family: arial, serif;
  overflow: hidden;
}

.task__text:required {
  text-decoration: none;
  outline: none 0;
  box-shadow: none;
}

/* Left-border-box */
.left-border-box {
  border: 1px solid rgba(0, 0, 0, .13);
  background-color: white;
}

.left-border-box:focus,
.left-border-box:focus-within {
  border: 1px solid #2F4752;
  box-shadow: 0 .1em .2em 0 #4D7385, 0 .1em .5em 0 #79B5D1;
}

.page:nth-child(odd) .left-border-box {
  border-left: .3em solid #4D7385;
}

.page:nth-child(even) .left-border-box {
  border-left: .3em solid #f0f3f5;
}

.page.page--today .left-border-box {
  border-left: .3em solid #79B5D1;
}

/* edit pen */
.edit-pen {
  font-size: 1.5em;
  line-height: 0.66;
  margin-left: .3em;
}

.edit-pen:hover {
  color: #79B5D1;
}