/* today-page */
.today-page .page-tasks { margin-top: .4em; }

/* old-pages */
.old-pages .codex-page:not(.flex-column) {
  flex-direction: row;
}
.old-pages .codex-page {
  flex-wrap:wrap;
  margin-top: 1.5em;
  margin-right: -.6em;
  margin-bottom: -.6em;
}

.old-pages .codex-page > section {
  flex: 1;
  min-width: 256px;
  margin-right: .6em;
  margin-bottom: .6em;
}

/* articles */
.task { flex-direction: row; }
.task-list .task { margin-top: .8em; }
.old-pages .task:first-child { margin: 0; }

/* gestion du contour */
.disp-journal_entree_texte,
.task-list,
.new-task{
  padding-left: .2em;
  padding-right: .2em;
}

.old-pages .journal_entree_texte,
.old-pages .task{
  border: 1px solid rgba(0,0,0,.16);
  background: white;
  box-shadow: 0 0 0 0;
}

/*Text Box decoration*/
.old-pages .codex-page:nth-child(odd) .disp-journal_entree_texte .disabled-textarea,
.old-pages .codex-page:nth-child(odd) .disp-journal_entree_texte textarea,
.old-pages .codex-page:nth-child(odd) article.task {
  border-left: .4em solid #4D7385;
}
.old-pages .codex-page:nth-child(even) .disp-journal_entree_texte .disabled-textarea,
.old-pages .codex-page:nth-child(even) .disp-journal_entree_texte textarea,
.old-pages .codex-page:nth-child(even) article.task {
  border-left: .4em solid #f0f3f5;
}

.old-pages .disp-journal_entree_texte textarea:focus{
  border: 1px solid #2F4752; 
  box-shadow: 0 .1em .2em 0 #4D7385,0 .1em .5em 0 #79B5D1;
}

/* gestion du text */
.old-pages .journal_entree_texte,
.old-pages .todo_entree_texte{ 
  font-size: .9em;
  font-family: arial;
  padding: .2em .2em .2em .5em; 
  width: 100%;
}

/* display div */
.disp-todo_entree_checkbox,
.disp-todo_entree_texte,
.disp-journal_entree_texte,
.disp-add-item-button
{
  display : flex;
}

/* display todo_entree_texte */
/* display todo_entre_checkbox */
.disp-todo_entree_texte,
.disp-journal_entree_texte { flex: 1; }

/* header */
.codex-page header { flex-direction: row; }
.codex-page h2 { white-space: nowrap; }

/* add button */
.add-item-button {
  font-size: 1em;
  width: 21px;
  max-width: 21px;
  height: auto;
  margin: auto;
  margin-left: .2m;
  margin-right: .5em;
}
.todo_entree_checkbox { 
  box-shadow: none; 
  margin: 0 .6em 0 .6em;
}

/* edit pen */
.edit-pen {
  font-size: 1.5em;
  line-height: 0.66;
  margin-left: .3em;
}
.edit-pen:hover {
 color: #79B5D1;
}
