/* today-page */
.today-page .page-tasks { margin-top: .4em; }

/* old-pages */
.old-pages .codex-page {
  flex-direction: row;
  flex-wrap:wrap;
  margin-top: 1.5em;
  margin-right: -.6em;
  margin-bottom: -.6em;
}

.old-pages .codex-page > section {
  flex: 1;
  min-width: 256px;
  margin-right: .6em;
  margin-bottom: .6em;
}

/* articles */
.task { flex-direction: row; }
.task-list .task { margin-top: .8em; }
.old-pages .task:first-child { margin: 0; }

/*Article content padding*/
.old-pages .disp-journal_entree_texte .disabled-textarea{
  font-family: arial;
  padding-left: .5em;
  padding-right: .2em;
}
.old-pages .disp-journal_entree_texte{
  padding-left: .2em;
  padding-right: .2em;
}

/*Text Box */
.old-pages .disp-journal_entree_texte .disabled-textarea,
.old-pages article.task {
  border: 1px solid rgba(0,0,0,.16);
  padding-top: .2em;
  padding-bottom: .2em;
  font-size: .9em;
  background: white;
}
.old-pages article.task,
.task-list {
  padding-right: .2em;
  padding-left: .2em;
}

/*Text Box decoration*/
.old-pages .codex-page:nth-child(odd) .disp-journal_entree_texte .disabled-textarea,
.old-pages .codex-page:nth-child(odd) article.task {
  border-left: .4em solid #4D7385;
}
.old-pages .codex-page:nth-child(even) .disp-journal_entree_texte .disabled-textarea,
.old-pages .codex-page:nth-child(even) article.task {
  border-left: .4em solid #f0f3f5;
}

/*Text padding*/
.disabled-textarea{ 
  padding-left: .3em;
  width: 100%;
}

/* display div */
.disp-todo_entree_checkbox,
.disp-todo_entree_texte,
.disp-journal_entree_texte,
.disp-add-item-button
{
  display : flex;
}

/* display todo_entree_texte */
/* display todo_entre_checkbox */
.disp-todo_entree_texte,
.disp-journal_entree_texte { flex: 1; }

/* display todo_entree_checkbox */
/* display add-item-button */
.disp-todo_entree_checkbox,
.disp-add-item-button { margin-right: .4em; }

/* header */
.codex-page header { flex-direction: row; }
.codex-page h2 { white-space: nowrap; }

/* add button */
.add-item-button {
  font-size: 1em;
  width: 21px;
  max-width: 21px;
  height: auto;
  margin: auto;
  margin-left: .2em;
  margin-right: .2em;
}
.todo_entree_checkbox { box-shadow: none; }

/* edit pen */
.edit-pen {
  font-size: 1.5em;
  line-height: 0.66;
  margin-left: .3em;
}
.edit-pen:hover {
 color: #79B5D1;
}
