/* textarea */
table textarea {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}
 
div.result {
  margin-top: 0.2em;
  overflow-x: auto;
}
 
table {
  width: 100%;
}

 table a.sort_down {
    background-color: #4D7385;
    color: white;
    border-bottom: 2px solid #79B5D1;
}
 
table a.sort_up {
    background-color: #4D7385;
    color: white;
    border-top: 2px solid #79B5D1;
}

table a {
    background-color: #4D7385;
    color: white;
}

table a:link {
  color: white;
  text-decoration: none;
}
table a:visited {
  color: white;
  text-decoration: none;
}
table a:hover {
  color: #2F4752;
  text-decoration: none;
}
table a:active,nav a:focus{
  color: white;
  text-decoration: none;
}

th {
  background-color: #2F4752;
  color: white;
  text-transform: uppercase;
  font-weight: 525;
  letter-spacing: .05em;
  white-space: nowrap;
  text-align: left;
}
 
th.max-width{
  width: 100%;
  min-width: 20em;
}
 
td {
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,.12);
}
 
td.task-texte{
  text-align: left;
}
 
th, td {
  padding-left: .6em;
  padding-right: .6em;
  padding-top: .4em;
  padding-bottom: .4em;
}
 
 
tr {
  background-color: white;
}
 
tr:nth-child(odd) {
  background-color: #f0f3f5;
}