/*Commun aux deux model*/
section {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;  
}

section article {
  display: flex;
  flex-direction: column;
  padding: .25em;
  margin-top : .4em;
  margin-bottom : .4em;
  font-size: 1em;
}

section .header {
  display: flex;  
  flex-direction: column;
  margin: .4em;
}

section .header .header__title{ color: #2F4752; }

section .header .header__subtitle { 
  border-bottom: 1px solid #2F4752; 
  padding-bottom: .4em;
  margin-bottom: .5em;
}


section textarea {
  padding: 0.5em;
  box-shadow: 0 0.1em 0.2em 0 rgba(0,0,0,0.16),0 0.1em 0.5em 0 rgba(0,0,0,0.12);
  border: none;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.8em;
 	font-family: sans-serif, arial, helvetica;           
}

section .entry {
  flex: 1;
  display: flex;
  flex-direction: column;
}

section .entry > * { margin: .4em; }


section .save-info {
  line-height: 1.15em;  
  margin-left: .4em;
  margin-top:auto; 
  margin-bottom:auto;  
}

section .content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
