.menu {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 0 .2em 0 rgba(0, 0, 0, .5), 0 0 .5em 0 rgba(0, 0, 0, .2);
}

.save-info__saving-image,
.menu__home-button {
  width: 1.4em;
  height: 1.4em;
}

.menu__under {
  width: 100%;
  font-size: 1.1em;
  margin-top: 2.35em;
}

.menu__filler {
  flex: 1;
  background: #4D7385;
  border-bottom: 2px solid #2F4752;
}

.menu__link {
  font-size: 1.1em;
  line-height: 1.6em;
  padding: .3em;
  margin: 0;
  background: #4D7385;
  border-bottom: 2px solid #2F4752;
}

.menu__current-active {
  border-bottom: 2px solid #79B5D1;
}

.menu__link:link {
  color: white;
  text-decoration: none;
}

.menu__link:visited {
  color: white;
  text-decoration: none;
}

.menu__link:hover {
  background-color: #79B5D1;
  color: #2F4752;
  text-decoration: none;
  border-bottom: 2px solid #4D7385;
}

.menu__link:active, .menu__link:focus {
  color: white;
  text-decoration: none;
}

.menu .error {
  background-color: white;
}
