nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}

.nav-filler {
  width: 100%;
  font-size: 1.1em;
  margin-top: 2.35em;
}

nav > div {
  display: flex;
}

nav .filler {
  flex: 1;
  background: #4D7385;
  border-bottom: 2px solid #2F4752;
}

nav a {
  font-size: 1.1em;
  line-height: 1.6em;
  padding: .3em;
  margin: 0;
  background: #4D7385;
  border-bottom: 2px solid #2F4752;
}

nav .current {
  border-bottom: 2px solid #79B5D1;
}

nav a:link {
  color: white;
  text-decoration: none;
}

nav a:visited {
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: #79B5D1;
  color: #2F4752;
  text-decoration: none;
  border-bottom: 2px solid #4D7385;
}

nav a:active, nav a:focus {
  color: white;
  text-decoration: none;
}

nav .error {
  background-color: white;
}