<div class="note">
  <ng-container *ngIf="editable; else displayNote">
    <form [formGroup]="noteTextControl">
      <ckeditor #noteEditorField
                [editor]="Editor"
                formControlName="noteText"
      ></ckeditor>
    </form>
  </ng-container>
  <ng-template #displayNote>
    <app-ckeditor-display *ngIf="note; else newNote"  [content]="noteTextControl.get('noteText').value" ></app-ckeditor-display>
    <ng-template #newNote>
      <div class="note-placeholder">
        <button (click)="switchNoteEditableMode()" mat-button>
          Write what's going on today about your codex here !
        </button>
      </div>
    </ng-template>
  </ng-template>
</div>
