{% extends "projets/_base_template.html" %}
{% load static %}
{% load i18n %}

{% block nav %}
    <a href="{% url 'codex_details' codex_slug=codex.slug %}"
       class="menu__item menu__link {% block nav__codex-details %}{% endblock %}">
        {% trans 'Codex' %}
    </a>
    <a href="{% url 'tasks' codex_slug=codex.slug %}"
       class="menu__item menu__link {% block nav__task-todo-list %}{% endblock %}">
        {% trans 'Tasks' %}
    </a>
    <a href="{% url 'informations' codex_slug=codex.slug %}"
       class="menu__item menu__link {% block nav__information %}{% endblock %}">
        {% trans 'Info' %}
    </a>
    <div class="menu__item menu__save-info">
        <img class="menu__icon save-info--display-none save-info__saving-image" src="{% static "img/home.jpeg" %}"
             alt={% trans "Save" %}/>
        <img class="menu__icon save-info--display-none save-info__not-saved-image" src="{% static "img/home.jpeg" %}"
             alt={% trans "Not Saved" %}/>
    </div>
{% endblock %}