{% extends "projets/accueil_navigation.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/derniers_projets.css' %}" />
{% endblock %}

{% block title %}
    Derniers projets
{% endblock %}

{% block nav-accueil %}current{% endblock %}

{% block content %}
<section class="derniers-projets">
  <article>
    <div class="header">
      <h1 class="header__title">Codex les plus recents</h1>
      <div class="header__subtitle">Trouvez tout vos codex dans l'onget "Codex"</div>
    </div>
    <div class="projets">
    {% for projet in derniers_projets %}
      <a href="{% url 'afficher_projet' slug=projet.slug %}">
        <div class="projet">
          <div class="titre">
            {{ projet.titre|title }}
          </div>
          <div class="filler"></div>
          <div class="date">
            {{ projet.date_update }}
          </div>
        </div>
      </a>
    {% endfor %}
    </div>
  </article>
</section>    
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
{% endblock %}
