{% extends "projets/accueil_navigation.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/derniers_codex.css' %}" />
{% endblock %}

{% block title %}Derniers Codex{% endblock %}

{% block nav-accueil %}current{% endblock %}

{% block header %}
<h1>Codex les plus recents</h1>
<h4>
  <div class="titre">Recherche :</div>
  <div class="disp-codex-search">
    <input class="codex-search" maxlength="256" placeholder="Titre du codex" title="Rechercher un codex" autocomplete="off" type="search">
  </div>
</h4>
{% endblock %}

{% block content %}
<section class="derniers-codex">
  {% for codex in derniers_codex %}
  <article class="codex">
    <a href="{% url 'afficher_codex' slug=codex.slug %}">
      <div class="codex-flex-content">
        <div class="titre">
          {{ codex.titre|title }}
        </div>
        <div class="filler"></div>
        <div class="date">
          {{ codex.date_update }}
        </div>
      </div>  
    </a>
  </article>
  {% endfor %}
</section>
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.typewatch.min.js' %}"></script>
    <script src="{% static 'js/accueil.js' %}"></script>
{% endblock %}
