<!DOCTYPE html>

<html lang="fr">

<head>
   {% load static %}
   <meta charset="UTF-8">
   <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
   <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}" />
   {% block css %}{% endblock %}
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}Projet journal{% endblock %}</title>

</head>

<body background="{% static 'img/background.png' %}">
  <div class="nav-filler"></div>
  <nav>
    <div class="menu">
      <a href="{% url 'accueil' %}"class="{% block nav-accueil %}{% endblock %}">
        <img class="accueil" type="image" src="{% static 'img/home.jpeg' %}" alt="Ajouter" />
      </a>
      {% block nav %}{% endblock %}
      <div class="filler"></div>
      {% if user.is_authenticated %}
        <a href="{% url 'deconnexion' %}">Deconnexion</a>
      {% else %}
      {% block nav-connexion %}<a href="{% url 'connexion' %}">Connexion</a>{% endblock %}  
      {% endif %}
    </div>
  </nav>
  
  <header>
      {% block header %}{% endblock %}
  </header>

     {% block content %}{% endblock %}

<footer><p align="center">&copy; Créé par Homnibus</p></footer>

{% block script %}{% endblock %}
</body>

</html>