{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "ResCodex - " %}{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}"/>
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
    <link rel="stylesheet" href="{% static "css/navigation.css" %}"/>
    {% block css %}{% endblock %}
    {% block meta %}{% endblock %}
</head>

<body>
<div class="background"
     style="background:url({% static "img/background.png" %} width:100%;height:100vh;position:fixed;z-index:-1">
</div>
<nav class="menu">
    <a href="{% url "home" %}" class="menu__link {% block nav-accueil %}{% endblock %}">
        <img class="menu__home-button" src="{% static "img/home.jpeg" %}" alt={% trans "Home" %}/>
    </a>
    {% block nav %}{% endblock %}
    <div class="menu__filler"></div>
    {% if user.is_authenticated %}
        <a href="{% url "disconnection" %}" class="menu__link">{% trans "Logout" %}</a>
    {% else %}
        {% block nav-connexion %}
            <a href="{% url "connexion" %}" class="menu__link">{% trans "Login" %}</a>
        {% endblock %}
    {% endif %}
</nav>
<div class="menu__under"></div>
<header>
    {% block header %}{% endblock %}
</header>
{% block content %}{% endblock %}
<div class="footer-filler"></div>
<footer>ResCodex 2019.02.05</footer>
{% block script %}{% endblock %}
</body>
</html>