{% extends "projets/codex_navigation.html" %}
{% load i18n %}
{% load static %}

{% block css %}
    <link rel='stylesheet' href='{% static "css/codex_details.css" %}'/>
{% endblock %}

{% block meta %}
    <meta http-equiv='Cache-control' content='no-store'>
{% endblock %}

{% block title %}{{ codex.title|truncatechars:14 }}{% endblock %}

{% block nav-codex %}current{% endblock %}

{% block header %}
    <h1>{% trans 'Codex - ' %}{{ codex.title|title }}</h1>
    <h4>{{ codex.description }}</h4>
    <div class='codex-info'>
        <input type='hidden' id='slug' value='{{ codex.slug }}'/>
        {% csrf_token %}
    </div>
{% endblock %}

{% block content %}
    <section class='today-page'>
        <article class='page'>
            <section class='page-note'>
                <header>
                    <h2>{{ today_page.date }}</h2>
                    <div class='save-info' style='display:none'>{% trans 'Saved' %}</div>
                </header>
                {{ today_page.note_form.non_field_errors }}
                {{ today_page.note_form.text.errors }}
                {{ today_page.note_form.note_id.errors }}
                {{ today_page.note_form.note_id }}
                <div class='disp-note_text'>
                    {{ today_page.note_form.text }}
                </div>
            </section>

            <section class='page-tasks'>
                <header>
                    <h2>{% trans 'Tasks' %}</h2>
                    <div class='save-info' style='display:none'>{% trans 'Saved' %}</div>
                </header>
                <section class='task new-task'>
                    {{ today_page.new_task_form.text.errors }}
                    <div class='disp-add-item-button'>
                        <img class='add-item-button' src='{% static "img/add_button.png" %}'
                             alt='{% trans "Add" %}'/>
                    </div>
                    <div class='disp-task_text'>
                        {{ today_page.new_task_form.text }}
                    </div>
                </section>
                <section class='task-list old-tasks'>
                    {% for task in today_page.tasks_form reversed %}
                        <article class='task'>
                            {{ task.non_field_errors }}
                            {{ task.text.errors }}
                            {{ task.task_id.errors }}
                            {{ task.is_achieved.errors }}
                            {{ task.task_id }}
                            <div class='disp-task_is_achieved'>
                                {{ task.is_achieved }}
                            </div>
                            <div class='disp-task_text'>
                                {{ task.text }}
                            </div>
                        </article>
                    {% endfor %}
                </section>
            </section>
        </article>
    </section>

    <section class='old-pages'>
        {% for page in older_pages  reversed %}
            <article class='page{% if not page.note_form and page.tasks_form %} flex-column{% endif %} '>
                <section class='page-note'>
                    <header>
                        <h2>{{ page.date }}</h2>{% if page.note_form %}
                        <button class='edit-pen div-like-button'>&#128393;</button>{% endif %}
                        <div class='save-info' style='display:none'>{% trans 'Saved' %}</div>
                        <div class='line'></div>
                    </header>
                    {% if page.note_form %}
                        {{ page.note_form.non_field_errors }}
                        {{ page.note_form.text.errors }}
                        {{ page.note_form.note_id.errors }}
                        {{ page.note_form.note_id }}
                        <div class='disp-note_text'>
                            <pre class='note_text disabled-textarea'>{{ page.note_form.text.value }}</pre>
                        </div>
                    {% endif %}
                </section>

                {% if page.tasks_form %}
                    <section class='page-tasks'>
                        <header>
                            <h2>{% trans 'Tasks' %}</h2>
                            <button class='edit-pen div-like-button'>&#128393;</button>
                            <div class='save-info' style='display:none'>{% trans 'Saved' %}</div>
                            <div class='line'></div>
                        </header>
                        <section class='task-list'>
                            {% for task in page.tasks_form %}
                                <article class='task'>
                                    {{ task.non_field_errors }}
                                    {{ task.text.errors }}
                                    {{ task.task_id.errors }}
                                    {{ task.is_achieved.errors }}
                                    {{ task.task_id }}
                                    <div class='disp-task_is_achieved'>
                                        {{ task.is_achieved }}
                                    </div>
                                    <div class='disp-task_text'>
                                        <div class='task_text disabled-textarea'>{{ task.text.value }}</div>
                                    </div>
                                </article>
                            {% endfor %}
                        </section>
                    </section>
                {% endif %}
            </article>
        {% endfor %}
    </section>
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/autosize.min.js' %}"></script>
    <script src="{% static 'js/jquery.typewatch.min.js' %}"></script>
    <script src="{% static 'js/basic.js' %}"></script>
    <script src="{% static 'js/note.js' %}"></script>
    <script src="{% static 'js/task.js' %}"></script>
    <script src="{% static 'js/codex_details.js' %}"></script>
{% endblock %}
