{% extends "projets/base_template.html" %}
{% load i18n %}

{% block nav %}
    <a href="{% url 'codex_details' codex_slug=codex.slug %}" class="{% block nav-codex %}{% endblock %}">
        {% trans 'Codex' %}
    </a>
    <a href="{% url 'tasks' codex_slug=codex.slug %}" class="{% block nav-taches %}{% endblock %}">
        {% trans 'Tasks' %}
    </a>
    <a href="{% url 'informations' codex_slug=codex.slug %}" class="{% block nav-codex_info %}{% endblock %}">
        {% trans 'Info' %}
    </a>
{% endblock %}