{% extends "projets/codex_navigation.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/contact_liste.css' %}" />
{% endblock %}


{% block title %}Contacts{% endblock %}

{% block nav-afficher_contact_liste %}current{% endblock %}

{% block header %}
<h1>Contacts - {{ projet.titre|title }}</h1>
<h4>{{ projet.description }}</h4>
<div class="project-info">
  <input type="hidden" id="slug" value={{ projet.slug }}/>
  {% csrf_token %}
</div>
{% endblock %}

{% block content %}
<section class="contact-list">
  <header>
    {% if contact_liste != None %}
    <h2>{{ contact_liste.date_update }}</h2>
    {% endif %}  
    <div class="save-info" id="sauvegarde" style="display:none">Sauvegardé</div>
  </header>  
  <form action="{% url 'afficher_contact_liste' slug=projet.slug %}" method="post" class="auto_save_form">
    {{ form.non_field_errors }}
    {{ form.texte.errors }}
    {{ form.texte }}
  </form>
</section>
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/autosize.min.js' %}"></script>
    <script src="{% static 'js/jquery.typewatch.min.js' %}"></script>
    <script src="{% static 'js/basic.js' %}"></script>
    <script src="{% static 'js/afficher_contact.js' %}"></script>
{% endblock %}
