{% extends "projets/_navigation_home.html" %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/codex_add.css" %}"/>
{% endblock %}

{% block title %}{% trans "New Codex" %}{% endblock %}

{% block nav__new-codex %}menu__current-active{% endblock %}

{% block header-size %}header__size--small{% endblock %}
{% block header %}
    <div class="headline-container">
        <h1>{% trans "Creation of a new Codex" %}</h1>
        <h4>{% trans "Give a title and a short description to your Codex !" %}</h4>
    </div>
{% endblock %}

{% block section-class %}body-small{% endblock %}
{% block content %}
    <section class="simple-card simple-card--no-header new-codex">
        <form action="{% url "codex_add" %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <h4 class="form-row__label">{% trans "Title" %} :</h4>
                <div class="form-row__input">
                    {{ form.title.errors }}
                    <div class="simple-text-input">
                        {{ form.title }}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <h4 class="form-row__label">{% trans "Description" %} :</h4>
                <div class="form-row__input">
                    {{ form.description.errors }}
                    <div class="simple-text-input">
                        {{ form.description }}
                    </div>
                </div>
            </div>
            <div class="button-container validate-button">
                <input type="submit" class="button" value="{% trans "Create" %}"/>
            </div>
        </form>
    </section>
{% endblock %}