{% extends "projets/codex_navigation.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/codex.css' %}" />
{% endblock %}

{% block meta %}
<meta http-equiv="Cache-control" content="no-store">
{% endblock %}

{% block title %}{{ codex.titre|truncatechars:14 }}{% endblock %}

{% block nav-codex %}current{% endblock %}

{% block header %}
<h1>Codex - {{ codex.titre|title}}</h1>
<h4>{{ codex.description }}</h4>
<div class="project-info">
  <input type="hidden" id="slug" value={{ codex.slug }}/>
  {% csrf_token %}
</div>
{% endblock %}

{% block content %}
<section class="codex-page today-page">
  <section class="page-entry">
    <header>
      <h2>{{ today_entry.date }}</h2>
      <div class="save-info" id="sauvegarde" style="display:none">Sauvegardé</div>
    </header>  
      {{ today_entry.note_form.non_field_errors }}
      {{ today_entry.note_form.text.errors }}
      {{ today_entry.note_form.note_id.errors }}
      {{ today_entry.note_form.note_id }}
    <div class="disp-journal_entree_texte" >
      {{ today_entry.note_form.text }}
    </div>
  </section>

  <section class="page-tasks">
    <header>
    <h2>Tâches</h2>
    <div class="save-info" style="display:none">Sauvegardé</div>
    </header>
    <section class="task new-task">
            {{ today_entry.new_task_form.text.errors }}
      <div class="disp-add-item-button">
        <img class="add-item-button" id="add_todo" src="{% static 'img/add_button.png' %}"
             alt="Ajouter" />
      </div>
      <div class="disp-todo_entree_texte">
        {{ today_entry.new_task_form.text }}
      </div>
    </section>
    <section class="task-list old-tasks">
      {% for task_entry in today_entry.tasks_form reversed%}
      <article class="task">
        {{ task_entry.non_field_errors }}
        {{ task_entry.text.errors }}
        {{ task_entry.task_id.errors }}
        {{ task_entry.is_achieved.errors }}
        {{ task_entry.task_id }}
        <div class="disp-todo_entree_checkbox">
          {{ task_entry.is_achieved }}
        </div>
        <div class="disp-todo_entree_texte">
          {{ task_entry.text }}
        </div>
      </article>
      {% endfor %}
    </section>
  </section>
</section>

<section class="old-pages">
  {% for entry in older_entry  reversed %}
  <article class="codex-page{% if not entry.note_form and entry.tasks_form %} flex-column{% endif %} ">
    <section class="page-entry">
      <header>
        <h2>{{ entry.date }}</h2>{% if entry.note_form %}<button class="edit-pen div-like-button">&#128393;</button>{% endif %}
        <div class="save-info" id="sauvegarde" style="display:none">Sauvegardé</div>
        <div class="ligne"></div>
      </header>
      {% if entry.note_form %}
        {{ entry.note_form.non_field_errors }}
        {{ entry.note_form.text.errors }}
        {{ entry.note_form.note_id.errors }}
        {{ entry.note_form.note_id }}
        <div class="disp-journal_entree_texte">
          <pre class="journal_entree_texte disabled-textarea">{{ entry.note_form.text.value }}</pre>
        </div>
      {% endif %}
    </section>

    {% if entry.tasks_form %}
    <section class="page-tasks">
      <header>
        <h2>Tâches</h2><button class="edit-pen div-like-button">&#128393;</button>
        <div class="save-info" style="display:none">Sauvegardé</div>
        <div class="ligne"></div>
      </header>
      <section class="task-list">
        {% for task_entry in entry.tasks_form %}
        <article class="task">
          {{ task_entry.non_field_errors }}
          {{ task_entry.text.errors }}
          {{ task_entry.task_id.errors }}
          {{ task_entry.is_achieved.errors }}
          {{ task_entry.task_id }}
          <div class="disp-todo_entree_checkbox">
            {{ task_entry.is_achieved }}
          </div>
          <div class="disp-todo_entree_texte">
            <div class="todo_entree_texte disabled-textarea">{{ task_entry.text.value }}</div>
          </div>
        </article>
      {% endfor %}
      </section>
    </section>
    {% endif %}
  </article>
  {% endfor %}
</section>
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/autosize.min.js' %}"></script>
    <script src="{% static 'js/jquery.typewatch.min.js' %}"></script>
    <script src="{% static 'js/basic.js' %}"></script>
    <script src="{% static 'js/note.js' %}"></script>
    <script src="{% static 'js/task.js' %}"></script>
    <script src="{% static 'js/codex.js' %}"></script>
{% endblock %}