{% extends "projets/_base_template.html" %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel='stylesheet' href='{% static "css/connexion.css" %}'/>
{% endblock %}

{% block title %}{% trans "Connexion" %}{% endblock %}

{% block header-size %}header__size--small{% endblock %}
{% block header %}
    <h1>{% trans "Connexion" %}</h1>
{% endblock %}

{% block section-class %}body-small{% endblock %}
{% block content %}
    <section class="simple-card simple-card--no-header">
    {% if user.is_authenticated %}
        <h2>{% blocktrans with username=user.username %}You are already connected as {{ username }}
            .{% endblocktrans %}</h2>
    {% else %}
        {{ form.non_field_errors }}
        <form class="connexion_form" method="post" action="{% url 'connexion' %}">
            {% csrf_token %}
            <h4>{{ form.username.label }}</h4>
            {{ form.username.errors }}
            <div class="simple-text-input">
                {{ form.username }}
            </div>
            <h4>{{ form.password.label }}</h4>
            {{ form.password.errors }}
            <div class="simple-text-input">
                {{ form.password }}
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
            <div class="button-container validate-button">
                <input type="submit" class="button" value="{% trans "Connexion" %}"/>
            </div>
        </form>
    {% endif %}
    </section>
{% endblock %}
