{% extends "projets/base_template.html" %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel='stylesheet' href='{% static "css/connexion.css" %}'/>
{% endblock %}

{% block title %}{% trans "Connexion" %}{% endblock %}

{% block header %}
    <h1>{% trans "Connexion" %}</h1>
    <h4></h4>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>{% blocktrans with username=user.username %}You are already connected as {{ username }}
            .{% endblocktrans %}</h2>
    {% else %}
        {{ form.non_field_errors }}
        <form class="connexion_form" method="post" action="{% url 'connexion' %}">
            {% csrf_token %}
            <h2>{{ form.username.label }}</h2>
            {{ form.username.errors }}
            {{ form.username }}
            <h2>{{ form.password.label }}</h2>
            {{ form.password.errors }}
            {{ form.password }}
            <input type="hidden" name="next" value="{{ next }}"/>
            <input type="submit" class="validate-button" value="{% trans "Connexion" %}"/>
        </form>
    {% endif %}
{% endblock %}
