{% extends "projets/base_template.html" %}

{% block title %}
    Connexion
{% endblock %}

{% block nav %}<a href="{% url 'accueil' %}">Accueil</a> {% endblock %}
{% block nav-connexion %}{% endblock %}

{% block header %}
<h1>Connexion</h1>
{% endblock %}

{% block content %}
    {% if error %}
        <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
    {% endif %}

    {% if user.is_authenticated %}
        Vous êtes déjà connecté, {{ user.username }} !
        <br/> <br/>
    {% else %}
        <form method="post" action="{% url 'connexion' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="submit" value="Connexion" />
        </form>
    {% endif %}
{% endblock %}

