{% extends "projets/projetbase.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact_liste.css' %}" />
{% endblock %}

{% block title %}
    Contacts - {{ projet.titre }}
{% endblock %}

{% block nav-afficher_contact_liste %}current{% endblock %}

{% block header %}
<div class="project-info">
  <input type="hidden" id="slug" value={{ projet.slug }}/>
  {% csrf_token %}
</div>
{% endblock %}

{% block content %}
<section class="contact-list">
  <article>
    <div class="header">
      <h1 class="header__title">Contacts - {{ projet.titre }}</h1>
      <div class="header__subtitle">{{ projet.description }} </div>
      {% if contact_liste != None %}
      <h2>{{ contact_liste.date_update }}</h2>
      {% endif %}  
      <div class="save-info" id="sauvegarde" style="display:none">Sauvegardé</div>
    </div>  
    <div class="entry">
      <form action="{% url 'afficher_contact_liste' slug=projet.slug %}" method="post" class="auto_save_form">
        {{ form.non_field_errors }}
        <div class="content">
          {{ form.texte.errors }}
          {{ form.texte }}
        </div>
      </form>
    </div>  
  </article>
</section>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/autosize.min.js' %}"></script>
    <script src="{% static 'js/jquery.typewatch.min.js' %}"></script>
    <script src="{% static 'js/afficher_contact.js' %}"></script>
{% endblock %}
