{% extends "projets/codex_navigation.html" %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/information.css' %}"/>
{% endblock %}

{% block title %}{% trans 'General informations' %}{% endblock %}

{% block nav-codex_info %}current{% endblock %}

{% block header %}
    <h1>{% trans 'General informations - ' %}{{ codex.title|title }}</h1>
    <h4>{{ codex.description }}</h4>
    <div class="project-info">
        <input type="hidden" id="slug" value={{ codex.slug }}/>
        {% csrf_token %}
    </div>
{% endblock %}

{% block content %}
    <section class="information">
        <header>
            {% if information != None %}
                <h2>{{ information.update_date|date:"j F Y" }}</h2>
            {% endif %}
            <div class="save-info" style="display:none">{% trans 'Saved' %}</div>
        </header>
        <article>
            {{ form.text }}
            {{ form.hash }}
            {{ form.id }}
        </article>
    </section>
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/autosize.min.js' %}"></script>
    <script src="{% static 'js/jquery.typewatch.min.js' %}"></script>
    <script src="{% static 'js/basic.js' %}"></script>
    <script src="{% static 'js/information.js' %}"></script>
{% endblock %}
