{% extends "projets/accueil_navigation.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/nouveau_codex.css' %}" />
{% endblock %}

{% block title %}Nouveau Codex{% endblock %}

{% block nouveau-codex %}current{% endblock %}

{% block header %}
<h1>Creation d'un nouveau Codex</h1>
<h4>Donnez un titre et une courte description à votre Codex !</h4>
{% endblock %}

{% block content %}
<section class="derniers-projets">
  <form class="nouveau-codex" action="{% url 'nouveau_codex' %}" method="post">
    {% csrf_token %}
    <h2>Titre</h2>
    {{ form.titre }}
    <h2>Description</h2>
    {{ form.description }}
    <input type="submit" value="Sauvegarder" />
  </form>
</section>
{% endblock %}