{% extends "projets/projetbase.html" %}

{% block title %}
    Journal - {{ projet.titre }}
{% endblock %}

{% block nav-afficher_projet %}{% endblock %}

{% block header %}
    <h1>Journal - {{ projet.titre }}</h1>
    <p> {{ projet.description }} <span id="sauvegarde" style="display:none">Sauvegardé</span></p>
{% endblock %}

{% block content %}
{% load static %}
<form method="post" action="{% url 'afficher_projet' slug=projet.slug %}">
    {% csrf_token %}
    <input type="hidden" id="slug" value={{ projet.slug }}/>
    {{ formset.management_form }}
    <div>
        {% for form, date, todo_formset in fromset_avec_date reversed %}
            {% if forloop.first %}
                {{ form.non_field_errors }}
                {{ date }}
                <div class="fieldWrapper">
                    {{ form.texte.errors }}
                    {{ form.texte }}
                    {{ form.id.errors }}
                    {{ form.id }}
                    <table width="100%">
                        <tr>
                            <td>
                                <div>TODO :<span id="todo_ajoute" style="display:none">Ajouté</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            {{ first_todo_form.realisee }}
                                        </td>
                                        <td width="100%" id="add_todo_form">         
                                            {{ first_todo_form.non_field_errors }}
                                            {{ first_todo_form.texte.errors }}
                                            {{ first_todo_form.texte }}
                                            {{ first_todo_form.realisee.errors }}
                                        </td>
                                        <td style="padding-left: 10px; padding-right: 10px;">
                                            <img  type="image" src="{% static "img/add_button.png" %}" id="add_todo" alt="Ajouter" style="width:21px;"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ todo_formset.management_form }}
                                        </td>
                                    </tr>
                                    {% for todo_form in todo_formset %}
                                    <tr>
                                        <td>
                                            {{ todo_form.realisee }}
                                        </td>
                                        <td>
                                            {{ todo_form.non_field_errors }}
                                            {{ todo_form.texte.errors }}
                                            {{ todo_form.realisee.errors }}
                                            {{ todo_form.texte }}
                                            {{ todo_form.id.errors }}
                                            {{ todo_form.id }}                            
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </table>    
                            <td>
                        </tr>
                    </table>
                </div>
            {% else %}   
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    <table width="100%">
                        <tr>
                            <td width="50%">
                                {{ date }}
                            </td>
                            {% if todo_formset.forms %}
                            <td width="50%" style="padding-left: 10px; padding-right: 10px;">
                                TODO : <span class="sauvegarde_todo" style="display:none">Sauvegardé</span>
                            </td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td {% if todo_formset %}width="50%"{% else %}width="100%"{% endif %}valign="top">
                                {{ form.texte.errors }}
                                {{ form.texte }}
                                {{ form.id.errors }}
                                {{ form.id }}    
                            </td>
                            {% if todo_formset.forms %}
                            <td width="50%" style="padding-left: 10px; padding-right: 10px;" valign="top">
                                {{ todo_formset.management_form }}                     
                                <table>
                                    {% for todo_form in todo_formset %}
                                        <tr>
                                            <td>
                                            {{ todo_form.realisee }}
                                            </td>
                                            <td>
                                            {{ todo_form.non_field_errors }}
                                            {{ todo_form.texte.errors }}
                                            {{ todo_form.realisee.errors }}
                                            {{ todo_form.texte }}
                                            {{ todo_form.id.errors }}
                                            {{ todo_form.id }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>    
                            </td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
            {% endif %}
            </br>
        {% endfor %}
    </div>
</form>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/autosize.min.js' %}"></script>
    <script src="{% static 'js/jquery.typewatch.min.js' %}"></script>
    <script src="{% static 'js/afficher_journal.js' %}"></script>
    <script>        
        function fadeOutObject(object, args){
            save_todo.fadeOut('slow');
        }

        function maj_todo(){
            var parent_tr = $(this).closest("tr")
            var realisee = parent_tr.find(".todo_entree_checkbox").prop('checked');
            var texte = parent_tr.find(".todo_entree_texte").val();
            var id = parent_tr.find(".todo_entree_id").attr("value");
            $.ajaxSetup({headers: {'X-CSRFToken': $("[name='csrfmiddlewaretoken']").val()}});
            $.ajax({
                url: '/journal/projets/' + $('#slug').val() + 'maj-todo',
                data: {
                    'id': id,
                    'texte': texte,
                    'realisee': realisee,
                },
                dataType: 'json',
                method: 'POST',
                success: function(data){
                    $('.error').remove();
                    if(data.success){
                        save_todo = $(".todo_entree_id[value = " + data.id + "]").closest("table").parent().closest("table").find(".sauvegarde_todo");
                        save_todo.fadeIn('slow', function(){
                            save_todo = $(".todo_entree_id[value = " + data.id + "]").closest("table").parent().closest("table").find(".sauvegarde_todo");
                            save_todo.fadeOut('slow');
                        });
                    }
                    else{
                        error_todo = $(".todo_entree_id[value = " + data.id + "]").closest("table").parent();
                        error_todo.prepend("<p id='maj_todo-error' class='error'>" + data.form_errors + "</p>");
                    }
                },
                error: function (jqXHR, exception) {
                    var data = jQuery.parseJSON(jqXHR.responseText);
                    $('.error').remove();
                    $('#add_todo_form').parent().prepend("<p id='add_todo-error' class='error'>" +
                        "<span style='color:red'>Erreur " + jqXHR.status + " : " + data.message + 
                        "</span><br/><span style='color:red'>" + data.explanation + "</span></p>");                
                }
            });
        }
        
        $('.todo_entree_checkbox').change( maj_todo ); 
        
        $(".todo_entree_texte").typeWatch( {
            callback: maj_todo,
            wait: 500,
            highlight: false,
            allowSubmit: false,
            captureLength: 1,
        });
    </script>
{% endblock %}

   

