{% extends "projets/projetbase.html" %}

{% block title %}
    Journal - {{ projet.titre }}
{% endblock %}

{% block nav-afficher_projet %}{% endblock %}

{% block header %}
    <h1>Journal - {{ projet.titre }}</h1>
    <p> {{ projet.description }} <span id="sauvegarde" style="display:none">Sauvegardé</span></p>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'afficher_projet' slug=projet.slug %}">
    {% csrf_token %}
    <input type="hidden" id="slug" value={{ projet.slug }}/>
    <input type="submit" value="Submit" />
    </br></br>
    <table>
        {% for form, id ,date in from_et_info reversed %}
            {{ form.non_field_errors }}
            {{ date }}
            <div class="fieldWrapper">
                {{ form.texte.errors }}
                {{ form.texte }}
                <input type="hidden" id="from-id-{{ id }}" value={{ id }}/>
            </div>
            </br>
        {% endfor %}
    </table>
</form>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/autosize.min.js" %}"></script>
    <script src="{% static "js/jquery.typewatch.min.js" %}"></script>
    <script src="{% static "js/afficher_journal.js" %}"></script>
{% endblock %}

   

