{% extends codex|yesno:"projets/codex_navigation.html,projets/accueil_navigation.html" %}
{% load static %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/task_list.css' %}" />
{% endblock %}

{% block title %}{% trans 'Tasks' %}{% endblock %}

{% block nav-taches %}current{% endblock %}

{% block header %}
<h1>{% trans 'All Tasks' %}</h1>
{% csrf_token %}
{% endblock %}

{% block content %}
<section class="codex-tasks">
  <div class="flex-table">
    <div class="flex-row">
        {% include "projets/table_title.html" with title='Achieved' class='flex-cell flex-cell-header flex-cell-checkbox'  sort_by_value='is_achieved' sort_by=sort_by sort_way=sort_way page_number=task_list.number only%}
        {% include "projets/table_title.html" with title='Task' class='flex-cell flex-cell-header flex-cell-text' sort_by_value='text' sort_by=sort_by sort_way=sort_way page_number=task_list.number only%}
        {%  if not codex %}
            {% include "projets/table_title.html" with title='Codex' class='flex-cell flex-cell-header flex-cell-text' sort_by_value='page__codex__title' sort_by=sort_by sort_way=sort_way page_number=task_list.number only%}
        {% endif %}
        {% include "projets/table_title.html" with title='Achi. date' class='flex-cell flex-cell-header flex-cell-date' sort_by_value='achieved_date' sort_by=sort_by sort_way=sort_way page_number=task_list.number only%}
        {% include "projets/table_title.html" with title='Crea. date' class='flex-cell flex-cell-header flex-cell-date' sort_by_value='creation_date' sort_by=sort_by sort_way=sort_way page_number=task_list.number only%}
    </div>

    {% for task in task_list %}
    <div class="flex-row">
        <div class="flex-cell flex-cell-checkbox">
            <input type="checkbox" {% if task.is_achieved %}checked{% endif %} onclick="return false;">
        </div>
        <div class="flex-cell flex-cell-text">
          {{ task.text }}
        </div>
        {%  if not codex %}
        <div class="flex-cell flex-cell-text">
            {{ task.page.codex.title }}
        </div>
        {% endif %}
        <div class="flex-cell flex-cell-date">
            {% if task.achieved_date %}
                {{ task.achieved_date|date:"d/m/Y" }}
            {% endif %}
        </div>
        <div class="flex-cell flex-cell-date">
            {{ task.creation_date|date:"d/m/Y" }}
        </div>
    </div>
    {% endfor %}
  </div>

  <div class='pagination'>
  {% if has_first %}
    <a href='?page_number=1' class='pagination-first'>&lt;&lt;</a>
  {% endif %}
  {% for page in paginator_range %}
      <a href='?page_number={{ page }}'
         class='
            {% if page == task_list.number %}current{% endif %}
            {% if page == 1 and not has_first %} pagination-first{% endif %}
            {% if page == task_list.paginator.num_pages and not has_last %} pagination-last{% endif %}'
      >{{page}}</a>
  {% endfor %}
  {% if has_last %}
    <a href='?page_number={{ task_list.paginator.num_pages }}' class='pagination-last'>&gt;&gt;</a>
  {% endif %}
  </div>
</section>
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/autosize.min.js' %}"></script>
    <script src="{% static 'js/jquery.typewatch.min.js' %}"></script>
    <script src="{% static 'js/basic.js' %}"></script>
{% endblock %}
