<app-web-page *ngIf="codex">
  <app-web-page-header>
    <app-web-page-title>{{ codex.title | titlecase }}</app-web-page-title>
    <app-web-page-subtitle>{{ codex.description }}</app-web-page-subtitle>
    <app-web-page-action-menu>
      <a [routerLink]="['/codex/edit', codex.slug]" color="primary" mat-stroked-button>
        Edit Codex
        <mat-icon>edit</mat-icon>
      </a>
    </app-web-page-action-menu>
  </app-web-page-header>
  <app-web-page-tabs [tabLinkList]="tabLinkList">
  </app-web-page-tabs>
</app-web-page>
