.mat-tab-link {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.mat-tab-label-active {
  opacity: .85;
}

.mat-divider {
  margin: 1.2em 0.8em 0 0.8em;
}

.mat-tab-nav-bar {
  margin: 0 0.8em 0 0.8em;
}
