<mat-card *ngIf="(codex$|async) as codex">
  <mat-card-header>
    <div class="mat-card-header__action-button">
      <button (click)="switchEditMode()" color="primary" mat-stroked-button>
        <ng-container *ngIf="!informationEditable">
          Edit
          <mat-icon>edit</mat-icon>
        </ng-container>
        <ng-container *ngIf="informationEditable">
          MarkDown
          <mat-icon>notes</mat-icon>
        </ng-container>
      </button>
    </div>
    <mat-card-title>
      Information for {{codex.title}}
    </mat-card-title>
    <mat-card-subtitle>
      Write any general information here !
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="(information$|async) as information; else loading">
      <app-information-details [(editable)]="informationEditable"
                               [codex]="codex"
                               [information]="information.length > 0 ? information[0] : undefined">
      </app-information-details>
    </ng-container>
    <ng-template #loading>
      Loading ...
    </ng-template>
  </mat-card-content>
</mat-card>
