<article *ngIf="page.tasks.length > 0 || page.note" class="simple-card simple-card--multiple-header page">
  <ng-container *ngIf="page.note">
    <section class="page__note-section">
      <header>
        <h2>
          {{ page.date | date: 'd MMMM y' }} - Note
        </h2>
        <button (click)="switchNoteEditMode()">Edit</button>
      </header>
      <app-note-details [enableEdit]="noteEditable" [note]="page.note"></app-note-details>
    </section>
  </ng-container>
  <ng-container *ngIf="page.tasks.length > 0">
    <section class="page__task-section">
      <header>
        <h2 i18n>
          <ng-container *ngIf="!page.note">
            {{ page.date | date: 'd MMMM y' }} - Tasks
          </ng-container>
          <ng-container *ngIf="page.note">
            Tasks
          </ng-container>
        </h2>
        <button (click)="switchTaskEditMode()">Edit</button>
      </header>
      <section class="task-list simple-list">
        <ng-container *ngFor="let task of page.tasks">
          <app-task-details [enableEdit]="taskEditable" [task]="task"></app-task-details>
          <div class="simple-list__separator"></div>
        </ng-container>
      </section>
    </section>
  </ng-container>
</article>
