$white-blue: #D7E1E5;
$light-blue: #79B5D1;
$mid-blue: #4D7385;
$dark-blue: #2F4752;

$light-grey: rgba(0, 0, 0, .1);
$grey: rgba(0, 0, 0, .2);
$dark-grey: rgba(0, 0, 0, .5);
$light-black: rgba(18, 18, 18);
$black: black;

$white: white;
$white-grey: rgba(245, 245, 245);
$background-grey: #ededed;

$light-red: #E77E85;
$mid-red: #D72833;
$dark-red: #6C141A;

$transition-short: 100ms ease;