.simple-card {
  overflow: hidden;
  margin-bottom: 0.8em;
  padding-bottom: 0.5em;
  border-radius: 5px;
  background: white;
}

.simple-card header {
  flex-direction: row;
  color: #2f4752;
  border-bottom: 1px solid #d7e1e5;
  background: #f6f8fa;
}

.simple-card h2 {
  padding: 0.5em;
  text-transform: capitalize;
}

.simple-card .header__image {
  flex: 1;
}

.simple-card > * {
  align-self: center;
  width: 100%;
}

.simple-card--multiple-header:nth-child(odd) {
  border-bottom: 0.3em solid #4d7385;
}

.simple-card--multiple-header:nth-child(even) {
  border-bottom: 0.3em solid #2f4752;
}

.simple-card--multiple-header > *:not(:first-child) header {
  border-top: 1px solid #d7e1e5;
  border-left: 1px solid #d7e1e5;
}

.simple-card--multiple-header .header__image {
  background: url("/static/img/background-1.png");
}

.simple-card--multiple-header > > * {
  padding: 0.3em;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em auto 0.5em auto;
  padding: 0.3em;
}

.button {
  font-size: 1em;
  line-height: 1.2em;
  display: block;
  padding: 0.4em 0.8em 0.2em 0.8em;
  cursor: pointer;
  transition: background-color 100ms ease;
  color: white;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #2f4752;
  border-left: none;
  border-radius: 0.5em;
  background-color: #4d7385;
  box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.2), 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #3a5765;
}

.button:active {
  margin-top: 2px;
  border: none;
  background-color: #283b44;
  box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.2), 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.1);
}

/* div like button */
.div-like-button {
  font-family: arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.checkbox__container {
  width: 2em;
  height: 1.8em;
}

.checkbox__container input[type=checkbox] {
  display: none;
}

.checkbox__container input[type=checkbox] + .checkbox__label:before {
  display: inline-block;
  width: 1.7em;
  height: 1.5em;
  content: "";
  transition: background-color 100ms ease;
  border-top: 2px solid #4d7385;
  border-right: 2px solid #4d7385;
  border-bottom: 2px solid #2f4752;
  border-left: 2px solid #4d7385;
  border-radius: 0.5em;
  background-color: white;
  box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.2), 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.1);
}

.checkbox__container input[type=checkbox] + .checkbox__label:hover:before {
  background-color: #e6e6e6;
}

.checkbox__container input[type=checkbox] + .checkbox__label:active:before {
  background-color: #cccccc;
}

.checkbox__container input[type=checkbox]:checked + .checkbox__label:before {
  content: "";
  background: white url(http://localhost:8000/static/img/svg/check-solid.svg) no-repeat center;
  background-size: 1em;
}

.checkbox__container input[type=checkbox]:checked + .checkbox__label:hover:before {
  background-color: #e6e6e6;
}

.checkbox__container input[type=checkbox]:checked + .checkbox__label:active:before {
  background-color: #cccccc;
}

.simple-list__row {
  transition: background-color 100ms ease, border 100ms ease;
}

.simple-list__row:hover {
  background: rgba(0, 0, 0, 0.1);
}

.simple-list__text {
  padding: 0.8em 1em 0.8em 1.2em;
  white-space: pre-wrap;
  background: none;
}

.simple-list__right-icon {
  margin: 0;
  padding: 0.5em 1.8em 0.5em 1.8em;
}

.simple-list__left-icon {
  margin: 0;
  padding: 0.5em 1.8em 0.5em 1.8em;
}

.simple-list__separator {
  margin: 0 1em 0 1em;
  border-bottom: 1px solid whitesmoke;
}

/* Page */
.page {
  display: flex;
  overflow: hidden;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

.page--task-only,
.page--today {
  flex-direction: column;
}

.page header {
  flex-direction: row;
}

.page h2 {
  white-space: nowrap;
}

.page__note-section,
.page__task-section {
  display: flex;
  align-items: stretch;
  align-self: auto;
  flex: 1;
  flex-direction: column;
  min-width: 256px;
}

.page:not(.page--today) .page__task-section {
  margin: -1px;
}

/* Note */
.note {
  display: flex;
  flex: 1;
}

.note__text {
  font-family: arial, serif;
  font-size: 1em;
  overflow: hidden;
  flex: 1;
  margin: 0;
  resize: none;
}

/* Task list */
.task-list {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

/* Task */
.task {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.task__is-achieved {
  font-size: 1em;
  margin: 0.5em;
}

.task__connexion-line {
  width: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.add-item-button {
  font-size: 1em;
  width: 1.5em;
  height: 1.5em;
  background-image: url("/static/img/plus-square-regular.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.add-item-button-svg {
  font-size: 1em;
  width: 2em;
  height: 2em;
  fill: orange;
}

.task__text {
  font-family: arial, serif;
  font-size: 1em;
  overflow: hidden;
  flex: 1;
  margin: 0;
  resize: none;
}

.task__text:required {
  text-decoration: none;
  outline: none 0;
  box-shadow: none;
}

/* Left-border-box */
.left-border-box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

.left-border-box:focus,
.left-border-box:focus-within {
  border: 1px solid #2f4752;
  box-shadow: 0 0.1em 0.2em 0 #4d7385, 0 0.1em 0.5em 0 #79b5d1;
}

.page:nth-child(odd) .left-border-box {
  border-left: 0.3em solid #4d7385;
}

.page:nth-child(even) .left-border-box {
  border-left: 0.3em solid #d7e1e5;
}

.page.page--today .left-border-box {
  border-left: 0.3em solid #79b5d1;
}

/* edit pen */
.edit-pen {
  font-size: 1.5em;
  line-height: 0.66;
  margin-left: 0.3em;
}

.edit-pen:hover {
  color: #79b5d1;
}

/*# sourceMappingURL=page-details.component.css.map */
