/* ----------------------------- */
/* ==reset                       */
/* ----------------------------- */
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 1em;
  /* equiv 14px */
  line-height: 1.5;
  /* adapt to your design */
  margin: 0;
  color: black;
  background-color: white;
}

p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
tbody,
table,
label,
textarea,
caption,
details,
figure,
hgroup {
  font-size: 1em;
  line-height: 1.5;
  margin: 0.5em 0 0;
  padding: 0 0;
}

h1, .h1-like {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.3em;
  margin: 0.4em 0 0 0;
}

h2, .h2-like {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.15em;
  margin: 0.4em 0 0 0;
}

h3, .h3-like {
  font-size: 1.5714em;
  /* equiv 22px */
  font-weight: normal;
  line-height: 1.909em;
  margin: 0.9545em 0 0 0;
}

h4, .h4-like {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.15em;
  margin: 0.4em 0 0 0;
}

h5, .h5-like {
  font-size: 1.2857em;
  /* equiv 18px */
  font-weight: normal;
  line-height: 1.1667em;
  margin: 1.1667em 0 0 0;
}

h6, .h6-like {
  font-size: 1.1429em;
  /* equiv 16px */
  font-weight: normal;
  line-height: 1.3125em;
  margin: 1.3125em 0 0 0;
}

/* alternate font-sizing */
.smaller {
  font-size: 0.7143em;
  /* equiv 10px */
  line-height: 2.1em;
}

.small {
  font-size: 0.8571em;
  /* equiv 12px */
  line-height: 1.75em;
}

.big {
  font-size: 1.1429em;
  /* equiv 16px */
  line-height: 1.3125em;
}

.bigger {
  font-size: 1.2857em;
  /* equiv 18px */
  line-height: 1.1667em;
}

.biggest {
  font-size: 1.4286em;
  /* equiv 20px */
  line-height: 1.05em;
}

/* soft reset */
html,
textarea,
figure,
label {
  margin: 0;
  padding: 0;
}

input:focus,
button:focus,
textarea:focus {
  outline: 0;
}

ul,
ol {
  padding-left: 2em;
}

code,
samp {
  font-family: consolas, "DejaVu Sans Mono", courier, monospace;
  white-space: pre-wrap;
}

code {
  line-height: 1em;
}

table {
  margin: 0;
  border-collapse: collapse;
}

/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

/* avoid margins on nested elements */
li p,
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
}

/* HTML5 tags */
aside, details, figcaption, figure, footer, hgroup, nav {
  display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
  max-width: 100%;
}

/* you shall not pass */
div, textarea, table, td, th, code, pre, samp {
  word-wrap: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* pictures */
img {
  width: auto;
  height: auto;
  vertical-align: middle;
}

a img {
  border: 0;
}

/* scripts */
body > script {
  display: none !important;
}

/* ----------------------------- */
/* Baseline design               */
/* ----------------------------- */
html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #ededed;
}

.header__background {
  margin-bottom: 1em;
  padding-top: 0.8em;
  border-bottom: 1px solid #d7e1e5;
  background: white;
}

.header__size {
  padding-bottom: 0.5em;
}

.header__headline-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 0.5em 0 0.5em;
}

.header__main h1 {
  margin: 0 0 0.3em 0;
  color: #2f4752;
}

.header__main h4 {
  padding-left: 0.3em;
}

body > section, .header__size {
  width: 100%;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

body > section.body-small, .header__size.header__size--small {
  width: 100%;
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}

.main-section-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 0.8em 0 0.8em;
}

body > footer {
  margin-top: 2em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-align: center;
  color: #2f4752;
}

.footer-filler {
  flex: 1;
}

section, article, header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.line {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  border-top: 1px solid #2f4752;
  border-bottom: 1px solid #79b5d1;
}

.reversed-line {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  border-top: 1px solid #79b5d1;
  border-bottom: 1px solid #2f4752;
}

.menu {
  font-size: 1.1em;
  line-height: 1.6em;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.5), 0 0 0.5em 0 rgba(0, 0, 0, 0.2);
}

.menu__under {
  font-size: 1.1em;
  width: 100%;
  margin-top: 2.35em;
}

.menu__item {
  margin: 0;
  padding: 0.3em;
  border-bottom: 2px solid #2f4752;
  background: #4d7385;
}

.menu__icon {
  width: 1.4em;
  height: 1.4em;
  white-space: nowrap;
}

.menu__link {
  flex-shrink: 0;
}
.menu__link.menu__current-active {
  border-bottom: 2px solid #79b5d1;
}
.menu__link:link {
  text-decoration: none;
  color: white;
}
.menu__link:visited {
  text-decoration: none;
  color: white;
}
.menu__link:hover {
  text-decoration: none;
  color: #2f4752;
  border-bottom: 2px solid #4d7385;
  background-color: #79b5d1;
}
.menu__link:active, .menu__link:focus {
  text-decoration: none;
  color: white;
}

.menu__save-info .save-info--display-none {
  display: none;
}

.menu__filler {
  flex: 1;
}

.checkbox__container {
  width: 2em;
  height: 1.8em;
}

.checkbox__container input[type=checkbox] {
  display: none;
}

.checkbox__container input[type=checkbox] + .checkbox__label:before {
  display: inline-block;
  width: 1.7em;
  height: 1.5em;
  content: "";
  transition: background-color 100ms ease;
  border-top: 2px solid #4d7385;
  border-right: 2px solid #4d7385;
  border-bottom: 2px solid #2f4752;
  border-left: 2px solid #4d7385;
  border-radius: 0.5em;
  background-color: white;
  box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.2), 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.1);
}
.checkbox__container input[type=checkbox] + .checkbox__label:hover:before {
  background-color: #e6e6e6;
}
.checkbox__container input[type=checkbox] + .checkbox__label:active:before {
  background-color: #cccccc;
}

.checkbox__container input[type=checkbox]:checked + .checkbox__label:before {
  content: "";
  background: white url(/rs_back_end/static/img/svg/check-solid.svg) no-repeat center;
  background-size: 1em;
}
.checkbox__container input[type=checkbox]:checked + .checkbox__label:hover:before {
  background-color: #e6e6e6;
}
.checkbox__container input[type=checkbox]:checked + .checkbox__label:active:before {
  background-color: #cccccc;
}

.simple-card {
  overflow: hidden;
  margin-bottom: 0.8em;
  padding-bottom: 0.5em;
  border-radius: 5px;
  background: white;
}

.simple-card header {
  flex-direction: row;
  color: #2f4752;
  border-bottom: 1px solid #d7e1e5;
  background: #f6f8fa;
}

.simple-card h2 {
  padding: 0.5em;
  text-transform: capitalize;
}

.simple-card .header__image {
  flex: 1;
}

.simple-card > * {
  align-self: center;
  width: 100%;
}

.simple-card--single-header:nth-child(odd) {
  border-bottom: 0.3em solid #4d7385;
}

.simple-card--single-header:nth-child(even) {
  border-bottom: 0.3em solid #2f4752;
}

.simple-card--single-header .header__image {
  background: url("http://localhost:8000/static/img/background-1.png");
}

.simple-card--single-header > *:not(header):not(.simple-list) {
  padding: 0.3em;
}

.simple-list__row {
  transition: background-color 100ms ease, border 100ms ease;
}
.simple-list__row:hover {
  background: rgba(0, 0, 0, 0.1);
}

.simple-list__text {
  padding: 0.8em 1em 0.8em 1.2em;
  white-space: pre-wrap;
  background: none;
}

.simple-list__right-icon {
  margin: 0;
  padding: 0.5em 1.8em 0.5em 1.8em;
}

.simple-list__left-icon {
  margin: 0;
  padding: 0.5em 1.8em 0.5em 1.8em;
}

.simple-list__separator {
  margin: 0 1em 0 1em;
  border-bottom: 1px solid whitesmoke;
}

/* Base text input */
.simple-text-input {
  display: flex;
  flex: 1;
}

.simple-text-input input[type=text],
.simple-text-input input[type=password],
.simple-text-input input[type=search],
.simple-text-input textarea {
  font-family: arial, serif;
  font-size: 1em;
  overflow: hidden;
  flex: 1;
  padding: 0.4em 0.4em 0.4em 0.6em;
  resize: none;
  transition: border 100ms ease, background-color 100ms ease;
  border: none;
  border-bottom: 1px solid #4d7385;
  border-left: 1px solid #4d7385;
  border-top-left-radius: 10px;
  box-shadow: 0 0.1em 0.2em 0 rgba(0, 0, 0, 0.2), 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.1);
  caret-color: #79b5d1;
}
.simple-text-input input[type=text]:hover,
.simple-text-input input[type=password]:hover,
.simple-text-input input[type=search]:hover,
.simple-text-input textarea:hover {
  background: #e6e6e6;
}
.simple-text-input input[type=text]:focus,
.simple-text-input input[type=password]:focus,
.simple-text-input input[type=search]:focus,
.simple-text-input textarea:focus {
  border-bottom: 1px solid #79b5d1;
  border-left: 0.3em solid #79b5d1;
  background: #cccccc;
}

/* Task */
.task {
  align-items: center;
  flex-direction: row;
}

.task--achieved:nth-child(4n+1) {
  background: repeating-linear-gradient(-45deg, white, white 1em, rgba(0, 0, 0, 0.1) 1em, rgba(0, 0, 0, 0.1) 2em);
}
.task--achieved:nth-child(4n+1):hover {
  background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1em, rgba(0, 0, 0, 0.2) 1em, rgba(0, 0, 0, 0.2) 2em);
}
.task--achieved:nth-child(4n+3) {
  background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1em, white 1em, white 2em);
}
.task--achieved:nth-child(4n+3):hover {
  background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1em, rgba(0, 0, 0, 0.1) 1em, rgba(0, 0, 0, 0.1) 2em);
}

.task__is-achieved {
  font-size: 1em;
  margin: 0.5em;
}

.task__text {
  font-family: arial, serif;
  font-size: 1em;
  overflow: hidden;
  flex: 1;
  margin: 0;
}

/*# sourceMappingURL=task_todo_list.css.map */
