<form (ngSubmit)="onSubmit()" [formGroup]="addTaskFrom" class="task task--new">
  <mat-form-field appearance="outline" color="primary">
    <mat-label>New task</mat-label>
    <textarea #autosize="cdkTextareaAutosize"
              (keydown.control.enter)="onSubmit()"
              cdkAutosizeMaxRows="19"
              cdkAutosizeMinRows="1"
              cdkTextareaAutosize
              formControlName="taskText"
              matInput
    ></textarea>
  </mat-form-field>
  <button class="task__add-button" color="primary" mat-raised-button type="submit">
    Add
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</form>

