@import "../theme/color";

.simple-card {
  background: $white;
  border-radius: 5px;
  padding-bottom: 0.5em;
  margin-bottom: 0.8em;
}

.simple-card header {
  flex-direction: row;
  color: $dark-blue;
  border-bottom: 1px solid $white-blue;
}

.simple-card h2 {
  padding: 0.5em;
  //font-weight: 700;
  text-transform: capitalize;
}

.simple-card .header__image {
  flex: 1;
}

.simple-card > * {
  align-self: center;
  width: 100%;
}