@import "simple-card-base";

.simple-card--no-header {
  padding: 0.8em 1em 0.8em 1em;
}

.simple-card--no-header:nth-child(odd) {
  border-bottom: .3em solid $mid-blue;
}

.simple-card--no-header:nth-child(even) {
  border-bottom: .3em solid $dark-blue;
}