@import "../theme/color";

/* Base text input */
.simple-text-input {
  display: flex;
  flex: 1;
}

.simple-text-input input[type="text"],
.simple-text-input input[type="password"],
.simple-text-input input[type="search"],
.simple-text-input textarea {
  font-family: arial, serif;
  font-size: 1em;
  overflow: hidden;
  flex: 1;
  padding: 0.4em 0.4em 0.4em 0.6em;
  resize: none;
  transition: border $transition-short, background-color $transition-short;
  border: none;
  border-bottom: 1px solid $mid-blue;
  border-left: 1px solid $mid-blue;
  border-top-left-radius: 10px;
  background: none;
  box-shadow: 0 .1em .2em 0 $grey, 0 .1em .5em 0 $light-grey;
  caret-color: $light-blue;

  &:hover {
    background: darken($white, 10%);
  }

  &:focus {
    border-bottom: 1px solid $light-blue;
    border-left: 0.3em solid $light-blue;
    background: darken($white, 20%);
  }
}
