@import "simple-card-base";

.simple-card--multiple-header:nth-child(odd) {
  border-bottom: .3em solid $mid-blue;
}

.simple-card--multiple-header:nth-child(even) {
  border-bottom: .3em solid $dark-blue;
}

.simple-card--multiple-header > *:not(:first-child) header {
  border-top: 1px solid $white-blue;
  border-left: 1px solid $white-blue;
}

.simple-card--multiple-header .header__image {
  background: url("/static/img/background-1.png");
}

.simple-card--multiple-header > > * {
  padding: 0.3em
}
