@import "simple-card-base";

.simple-card--single-header:nth-child(odd) {
  border-bottom: .3em solid $mid-blue;
}

.simple-card--single-header:nth-child(even) {
  border-bottom: .3em solid $dark-blue;
}

.simple-card--single-header .header__image {
  background: url("http://localhost:8000/static/img/background-1.png");
}

.simple-card--single-header > *:not(header):not(.simple-list) {
  padding: 0.3em
}