@import "theme/color";
@import "base/reset";
@import "base/base";
@import "layout/navigation";
@import "components/simple-card--no-header";
@import "components/simple-text-input";

/* Header */
.header__main h4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: .6em;
  white-space: nowrap;
}

/* Search field */
.codex-search {
  max-width: 12em;
  margin-left: 0.5em;
}

/* Codex box */
.codex-list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.codex__not-found {
  display: none;
}

.codex {
  width: auto;
}

.codex__title {
  font-size: 1.4em;
  overflow: hidden;
  flex: 1 1 auto;
  transition: font-size $transition-medium;
}

.codex__date {
  font-size: 0.9em;
  overflow: hidden;
  transition: font-size $transition-medium;
  text-align: right;
}

.codex__link {
  display: flex;
  flex-direction: column;
  width: 8.75em;
  height: 8.75em;
  margin: 0.5em;
  padding: 0.5em;
  transition: background-color $transition-short;
  word-wrap: break-word;
  border: 2px solid $dark-blue;
  background-color: $white-blue;

  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $black;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $mid-blue;
  }

  &:link .codex__title {
    text-decoration: none;
    color: $dark-blue;
  }

  &:visited .codex__title {
    text-decoration: none;
    color: $dark-blue;
  }

  &:hover .codex__title {
    text-decoration: none;
    color: $white;
  }

  &:active .title,
  &:focus .title {
    text-decoration: none;
    color: $white;
    background-color: $mid-blue;
  }
}
