@import "theme/color";
@import "base/reset";
@import "base/base";
@import "layout/navigation";
@import "components/simple-card--single-header";
@import "components/pagination";

/* flex-table */
.flex-table {
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0.4em 0.8em 0.4em 0.8em;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-row:nth-of-type(odd) {
  background-color: $white;
}

.flex-row:nth-of-type(even) {
  background-color: $white-blue;
}

.flex-cell-header {
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: $white;
  background-color: $mid-blue;
}

a.flex-cell-header {
  color: $white;
}

a.flex-cell-header:link, a.flex-cell-header:visited {
  text-decoration: none;
  color: $white;
}

a.flex-cell-header:hover {
  text-decoration: none;
  color: $dark-blue;
}

a.flex-cell-header:active, a.flex-cell-header:focus {
  text-decoration: none;
  color: $white;
}

.flex-cell {
  display: flex;
  align-items: center;
  padding: .4em .6em;
  border-bottom: 1px solid $light-grey;
}

.flex-cell-text {
  justify-content: left;
  width: 30em;
  min-width: 15em;
}

.flex-cell-checkbox {
  justify-content: center;
  min-width: 5em;
}

.flex-cell-date {
  justify-content: center;
  min-width: 7em;
}