<mat-list-item *ngIf="task" class="task">

  <mat-checkbox (change)="updateTaskIsAchieved($event)" [checked]="task.isAchieved" [id]="task.id.toString()">
    <pre *ngIf="!editable" class="task__disable-text">{{ task.text }}</pre>
  </mat-checkbox>
  <form *ngIf="editable" [formGroup]="taskTextControl">
    <mat-form-field appearance="outline" color="primary">
      <mat-label></mat-label>
      <input formControlName="taskText" matInput type="text">
    </mat-form-field>
  </form>
  <button (click)="switchTaskEditableMode()" *ngIf="allowChangeEditable" class="task__enable-edit-button"
          color="accent"
          mat-icon-button
          matTooltip="Edit"
          matTooltipPosition="left">
    <mat-icon>edit</mat-icon>
  </button>
</mat-list-item>
