.mat-list-item-content {
  flex: 1;
}

.mat-list-base .mat-list-item {
  height: auto;
  transition: background-color $transition-short, border $transition-short;

  &:hover {
    background: $light-grey;
  }
}
