@import "theme/color";
@import "base/reset";
@import "base/base";
@import "layout/navigation";
@import "components/checkbox.scss";
@import "components/simple-card--single-header";
@import "components/simple-list-base";
@import "components/simple-text-input";

/* Task */
.task {
  align-items: center;
  flex-direction: row;
}

.task--achieved {
  &:nth-child(4n+1) {
    background: repeating-linear-gradient(-45deg, $white, $white 1em, $light-grey 1em, $light-grey 2em);

    &:hover {
      background: repeating-linear-gradient(-45deg, $light-grey, $light-grey 1em, $grey 1em, $grey 2em);
    }
  }

  &:nth-child(4n+3) {
    background: repeating-linear-gradient(-45deg, $light-grey, $light-grey 1em, $white 1em, $white 2em);

    &:hover {
      background: repeating-linear-gradient(-45deg, $grey, $grey 1em, $light-grey 1em, $light-grey 2em);
    }
  }
}

.task__is-achieved {
  font-size: 1em;
  margin: .5em;
}

.task__text {
  font-family: arial, serif;
  font-size: 1em;
  overflow: hidden;
  flex: 1;
  margin: 0;
}