appdirs==1.4.4
asgiref==3.4.1
attrs==21.4.0
black==22.3.0
Click==8.0.4
coverage==6.2
distlib==0.3.4
Django==3.2.14
django-cors-headers==3.10.1
django-filter==21.1
django-guardian==2.4.0
djangorestframework==3.13.1
djangorestframework-guardian==0.3.0
filelock==3.4.1
importlib-metadata==4.8.3
importlib-resources==5.4.0
psycopg2==2.8.6
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
virtualenv==20.14.1
virtualenvwrapper-win==1.2.7
zipp==3.6.0
