<div class="information">
  <ng-container *ngIf="editable; else displayInformation">
    <form [formGroup]="informationTextControl">
      <ckeditor #informationEditorField
                [editor]="Editor"
                formControlName="informationText"
      ></ckeditor>
    </form>
  </ng-container>
  <ng-template #displayInformation>
    <app-ckeditor-display *ngIf="information; else newInformation"  [content]="informationTextControl.get('informationText').value" ></app-ckeditor-display>
    <ng-template #newInformation>
      <div class="information-placeholder">
        <button (click)="switchInformationEditableMode()" mat-button>
          Write any general information about your codex here !
        </button>
      </div>
    </ng-template>
  </ng-template>
</div>
