<header class="header__main header__background">
  <div class="header__size">
    <div class="header__headline-container">
      <h1 i18n>Connexion</h1>
    </div>
  </div>
  <div class="line"></div>
</header>
<section class="main-section body-small">
  <div class="main-section--container">
    <mat-card class="example-card">
      <mat-card-content>
        <ng-container *ngIf="(authService.currentUser$ | async) as curentUser">
          <h2 i18n>You are connected as {{ curentUser.name }}.</h2>
        </ng-container>
        <ng-container *ngIf="!(authService.currentUser$ | async)">
          <form (ngSubmit)="tryLogin()" [formGroup]="loginForm" class="login-form">

            <mat-form-field>
              <mat-label>User Name</mat-label>
              <input formControlName="userName" matInput type="text">
              <mat-error *ngIf="userName.hasError('required')">Please enter your user name</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput type="password">
              <mat-error *ngIf="password.hasError('required')">Please enter your password</mat-error>
            </mat-form-field>
            <div class="formGroupError">
              <mat-error *ngIf="loginForm.hasError('invalidUserOrPassword')">Invalid user name or password</mat-error>
            </div>
            <button color="primary" mat-raised-button type="submit">
              Login
            </button>
          </form>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</section>
