.main-section--container {
  width: 100%;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.mat-card {
  padding: 3em 0 2em 0;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;

  .mat-form-field {
    margin-bottom: 1em;
  }

  .mat-form-field:last-of-type {
    margin-bottom: 0;
  }

  .formGroupError {
    height: 1em;
    margin-bottom: 1.5em;
  }
}
